{% extends 'base.html.twig' %}

{# Langue #}
{% block lang %}{{ lang_page }}{% endblock %}

{# Metas #}
{% block title %}{{ titre }} | Creative Eye Studio{% endblock %}
{% block desc %}
    Découvrez notre collaboration exclusive avec {{ titre }}, une aventure où visions et aspirations se matérialisent. Parcourez nos réalisations sur mesure qui témoignent de l'engagement envers l'excellence et de la satisfaction de notre client. Plongez dans l'histoire captivante de notre partenariat et explorez comment nous avons concrétisé les rêves de {{ titre }} avec expertise et créativité.
{% endblock %}

{# Settings #}
{% block damping %}{{ settings.damping }}{% endblock %}
{% block scrollimg %}{{ settings.scrollimg }}{% endblock %}

{# CSS #}
{% block css %}{{ css }}{% endblock %}

{# JS #}
{% block js %}{{ js }}{% endblock %}

{# Réseaux sociaux #}
{% block socialList %}
    {{ include('webpages/blocks/_social-links.html.twig', { social: social }) }}
{% endblock %}

{% block body %}
    <!-- Heroscreen -->
    <section class="heroscreen-real">
        <!-- Image principale -->
        <figure class="image">
            <img src="../../uploads/images/reals/main/{{ main_img }}" alt="{{ titre }}">
        </figure>
        <!-- Présentation -->
        <div class="content row padding-vertical-on-md">
            <div class="col-4 col-md-12 margin-bottom-on-md">
                <h1 class="margin-top-none">
                    <span class="small">Portfolio</span>
                    <span class="title">{{ titre }}</span>
                </h1>
                {% if website is not null %}
                    <p><a class="btn-link-wt" href="{{ website }}" target="_blank" rel="noopener">Voir le site internet</a></p>
                {% endif %}
            </div>
            <div class="col-8 col-md-12 row-no-marge">
                <div class="row-no-marge">
                    <div class="col-12-no-marge intro">
                        {{ intro | raw }}
                    </div>
                    <div class="col-12-no-marge col-md-12 more-btn-panel">
                        <button class="more-btn btn-rounded-wt"></button>
                    </div>
                    <div class="col-12-no-marge more-panel row-no-marge">
                        <div class="more-panel-item col-4-no-marge col-sm-6-no-marge col-xs-12-no-marge">
                            <p>
                                <strong>Services réalisés</strong>
                                <ul>
                                    {% for service in services %}
                                        <li>{{ service.titre[0] }}</li>
                                    {% endfor %}
                                </ul>
                            </p>
                        </div>
                        <div class="more-panel-item col-4 col-sm-6-no-marge col-xs-12-no-marge">
                            <p>
                                <strong>Collaborateurs</strong>
                                <ul>
                                    {% for partner in partners %}
                                        <li>{{ partner.nom }}</li>
                                    {% endfor %}
                                </ul>
                            </p>
                        </div>
                        <div class="more-panel-item col-4 col-sm-12-no-marge">
                            <p>
                                <strong>Année</strong>
                            </p>
                            <p>
                                {{ annee }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Youtube -->
    <section id="youtube-block">
        {% if youtube is not null %}
        <div class="yt-container padding-all-on-md">
            <div 
                class="youtube_player" 
                videoID="{{ youtube }}" 
                width="100%" 
                height="100%" 
                theme="dark" rel="1" controls="1" showinfo="1" autoplay="0" mute="0" loop="0" loading="1"></div>
        </div>
        {% endif %}
    </section>

    <!-- Demandes et approche -->
    <section id="details" class="border-bottom padding-vertical-on-md">
        <div class="row">
            <div class="col-4 col-xs-12">
                <h2 class="margin-top-none">Demande</h2>
            </div>
            <div class="col-8 col-xs-12">
                {{ demande | raw }}
            </div>
            <div class="col-12">
                <hr>
            </div>
            <div class="col-4 col-xs-12">
                <h2 class="margin-top-none">Approche</h2>
            </div>
            <div class="col-8 col-xs-12">
                {{ approche | raw }}
            </div>
        </div>
    </section>
{% endblock %}