{% extends 'base.html.twig' %}

{# Langue #}
{% block lang %}{{ lang_page }}{% endblock %}
{# Metas #}
{% block title %}{{ meta_title }} | Creative Eye Studio{% endblock %}
{% block desc %}{{ meta_desc }}{% endblock %}
{# Settings #}
{% block damping %}{{ settings.damping }}{% endblock %}
{% block scrollimg %}{{ settings.scrollimg }}{% endblock %}
{# CSS #}
{% block css %}{{ css }}{% endblock %}
{# JS #}
{% block js %}{{ js }}{% endblock %}

{# Classes supplémentaires #}
{% block classes %}
    class="service-page"
{% endblock %}


{% block socialList %}
    {{ include('webpages/blocks/_social-links.html.twig', { social: social }) }}
{% endblock %}

{% block body %}
    <!-- Heroscreen -->
    <section class="heroscreen-page position-relative padding-all-no-md">
        <div class="text position-absolute-no-md">
            <h1>
                <span class="small">
                    {{ titre }}
                </span>
                <span class="title">
                    {{ sous_titre }}
                </span>
            </h1>
        </div>
        <figure class="image position-absolute-no-md">
            <img src="../uploads/services/{{ thumb }}" alt="{{ titre }}">
        </figure>
    </section>

    <!-- Intro -->
    <section class="intro-page padding-vertical-on-md row">
        <div class="text col-8 col-md-12">
            {{ contenu | raw }}
        </div>
        <div class="list col-4 col-md-12 border-left">
            <ul>
                {% for service in services %}
                <li>{{ service }}</li>
                {% endfor %}
            </ul>
        </div>
    </section>

    <!-- Realisations -->
    <section class="reals padding-vertical-on-md row">
        <div class="item col-6">
            <figure class="image wd-100"><img src="" alt=""></figure>
            <h2>Nom du projet</h2>
            <p><span></span></p>
        </div>
        <div class="item col-6">
            <figure class="image wd-100"><img src="" alt=""></figure>
            <h2>Nom du projet</h2>
            <p><span></span></p>
        </div>
        <div class="item col-6">
            <figure class="image wd-100"><img src="" alt=""></figure>
            <h2>Nom du projet</h2>
            <p><span></span></p>
        </div>
        <div class="item col-6">
            <figure class="image wd-100"><img src="" alt=""></figure>
            <h2>Nom du projet</h2>
            <p><span></span></p>
        </div>
    </section>

    <!-- Actualités -->
    <section class="last-actus padding-left-no-md border-top">
        <div class="border-left-no-md padding-all-on-md">
            <h2>
                <span class="small">Nos actualités en {{ titre }}</span>
                <span class="title">Soyez au courant de nos dernières actualités</span>
            </h2>
        </div>
    </section>
{% endblock %}