{% extends 'base.html.twig' %}

{# Langue #}
{% block lang %}{{ lang_page }}{% endblock %}

{# Metas #}
{% block title %}{{ meta_title }} | Creative Eye Studio{% endblock %}
{% block desc %}{{ meta_desc }}{% endblock %}

{# Settings #}
{% block damping %}{{ settings.damping }}{% endblock %}
{% block scrollimg %}{{ settings.scrollimg }}{% endblock %}

{# CSS #}
{# {% block css %}{{ css }}{% endblock %} #}

{# JS #}
{# {% block js %}{{ js }}{% endblock %} #}

{# Classes supplémentaires #}
{% block classes %}
    class="service-page"
{% endblock %}


{% block socialList %}
    {{ include('webpages/blocks/_social-links.html.twig', { social: social }) }}
{% endblock %}

{% block body %}
    <!-- Heroscreen -->
    <section class="heroscreen-page position-relative padding-all-no-md">
        <div class="text position-absolute-no-md">
            <h1 class="margin-bottom-none">
                <span class="small">
                    {{ titre }}
                </span>
                <span class="title">
                    {{ sous_titre }}
                </span>
            </h1>
        </div>
        <figure class="image position-absolute-no-md">
            <img src="../../uploads/images/services/{{ thumb }}" alt="{{ titre }}">
        </figure>
    </section>

    <!-- Intro -->
    <section class="service-intro intro-page padding-top-on-md">
        <div class="row">
            <div class="service-intro text col-8 col-sm-12 margin-bottom-on-md">
                {{ contenu | raw }}
            </div>
            <div class="list col-4 col-sm-12 border-left-no-sm border-top-on-sm margin-bottom-on-md">
                <ul>
                    {% for service in services %}
                    <li data-aos="fade-top">{{ service }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>

    <!-- Realisations -->
    <section class="reals padding-vertical-on-md row" data-aos="fade-left">
        {% for real in reals|reverse|slice(0, 5) %}
            <div class="item col-6 col-xs-12">
                <a href="{{ path('web_real', { real_slug: real.url }) }}">
                    <figure class="image wd-100">
                        <img src="../../../uploads/images/reals/main/{{ real.mainimage }}" alt="{{ real.nom }}">
                    </figure>
                    <h2>{{ real.nom }}</h2>
                </a>
            </div>
        {% endfor %}
    </section>

    <!-- Actualités -->
    <section class="last-actus padding-left-no-md border-top">
        <div class="border-left-no-md padding-all-on-md">
            <h2>
                <span class="small" data-aos="fade-left">Nos actualités en {{ titre }}</span>
                <span class="title" data-aos="fade-left" data-aos-delay="200">Soyez au courant de nos dernières actualités</span>
            </h2>
            <last-service-posts :serv-id="{{ id }}" data-aos="fade-left" data-aos-delay="400"></last-service-posts>
        </div>
    </section>
{% endblock %}