<div class="nav-item nav-link-{{ item.id }}" data-order="{{ item.orderlink }}" data-id="{{ item.id }}">
    <div class="line">
        {% set cusname = item.cusname[0] ?: '' %}
        
        {% if item.post is not null %}
            {% set itemType = 'Post' %}
        {% elseif item.page is not null %}
            {% set itemType = 'Page' %}
        {% elseif item.extservice is not null %}
            {% set itemType = 'Service' %}
        {% else %}
            {% set itemType = 'Lien' %}
        {% endif %}

        <span>[{{ itemType ? itemType : postType }}] - {{ cusname }}</span>
        <ul>
            <li><span class="nav-update" data-url="{{ path('app_admin_nav_manage_link', { id_link: item.id }) }}">Modifier</span></li>
            <li><span class="nav-remove" data-id="{{ item.id }}">Supprimer</span></li>
        </ul>
    </div>
    <div class="subitems" data-sublist="{{ item.id }}">
        {% for subitem in item.menulinks %}
            {{ include('admin_navigation/_nav-list.html.twig', { "item": subitem }) }}
        {% endfor %}
    </div>
</div>